.container {
  position: relative;
  display: inline-block;
}

.burger-icon {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6px;
  cursor: pointer;
}

.burger-icon-open {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6px;
  cursor: pointer;
}

.popup-container {
  position: absolute;
  top: 0%;
  left: -200px;
  width: 200px;
  padding-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.popup-container.open {
  opacity: 1;
  transform: translateX(100%);
}

.close-btn {
  position: absolute;
  top:0%;
  left: 0;
  width:100%;
  padding: 0px;
  padding-top: 0px;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: transparent;


}

.menu-item {
  padding: 5px;
  left-padding: 10px;
  text-decoration: none;
  border-bottom: solid;
  background-color: white;
  border-image: linear-gradient(-10deg, white, lightgrey) 1;


}

.menu-item-link {
  text-decoration: none;
  text-color: black;
}
.menu-item:hover {
  background-color: lightgray;
}

a:visited {
  color: transparent;
}

