.App {
	  font-family: sans-serif;
  }

header {
	background-color: #333;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
 }

nav {
	display: flex;
	align-items: center;
 }

		  .header-links {
			    display: flex;
		    }

		    .header-links a {
			      color: white;
			        text-decoration: none;
				  margin-left: 20px;
			  }

			  .tile {
				    width: 300px;
				      height: 200px;
				        background-color: #eee;
					  margin: 20px;
					    display: inline-block;
					      position: relative;
					        transition: transform 0.2s ease-in-out;
					}

					.tile h2 {
						  margin: 20px;
					  }

					  .tile p {
						    margin: 20px;
					    }

					    .tile:hover {
						      transform: translateY(-5px);
					      }

