.burger-menu-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.burger-menu-container.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu-container.open .line:nth-child(2) {
  opacity: 0;
}

.burger-menu-container.open .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.line {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin-bottom: 5px;
}

.menu-popup {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.sub-menu {
  display: none;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sub-menu-item {
  margin-bottom: 5px;
  cursor: pointer;
}

.menu-item:hover .sub-menu {
  display: block;
}
